ipykernel
nbformat
black
pydantic
hydra-core
pandas
numpy
scikit-learn
torch
torchvision >= 0.13
torchinfo
tensorflow
tqdm
torchmetrics
albumentations
imagesize
matplotlib
torchinfo
timm
tabulate
wandb