ipykernel
nbformat
black
pydantic
hydra-core
pandas
numpy
scikit-learn
torch
torchvision
torchmetrics
timm
torchinfo
tqdm
albumentations
imagesize
matplotlib
tabulate
wandb
tensorflow-macos
tensorflow-metal