[build-system]
requires = ["setuptools >= 40.9.0", "wheel"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
markers = [
    "mlmodel: marks tests as (slow) ml models (deselect with '-m \"not mlmodel\"')",
]
log_cli = true