bandit == 1.6.0
beautifulsoup4 == 4.11.1
black == 22.12.0
coverage == 7.0.5
mypy == 0.991
myst-parser == 0.18.1
pylint == 2.15.10
pytest == 7.2.0
pytest-lazy-fixture == 0.6.3    # can remove if/when https://docs.pytest.org/en/7.1.x/proposals/parametrize_with_fixtures.html gets implemented
scikit-image == 0.18.0
sphinx-autodoc-typehints == 1.20.1
sphinx-rtd-theme == 1.2.0
sphinx-copybutton == 0.5.1
sphinx-tabs == 3.4.1
texttable == 1.6.7  # for pretty print scripts/check_links.py output
types-PyYAML == 6.0.12.2
types-requests == 2.28.11.7
types-setuptools == 65.6.0.3
types-six == 1.16.21.4

# optional requirements
lap == 0.4.0
mediapipe >= 0.8.11
numba >= 0.56.4
shapely >= 1.7.1
timm >= 0.6.7
transformers >= 4.21.2
tensorflow-datasets
