bandit == 1.7.0
black == 21.9b0
coverage == 5.5
importlib-metadata < 5; python_version < "3.8"  # fix for https://github.com/PyCQA/bandit/issues/951
mypy == 0.910
pylint == 2.7.4
pytest == 6.2.3
pytest-lazy-fixture == 0.6.3    # can remove if/when https://docs.pytest.org/en/7.1.x/proposals/parametrize_with_fixtures.html gets implemented
scikit-image == 0.17.2
types-PyYAML == 5.4.3
types-requests == 2.25.0
types-setuptools == 57.4.2
types-six == 0.1.7
beautifulsoup4
myst-parser
sphinx-autodoc-typehints
sphinx-rtd-theme
texttable # for pretty print scripts/check_links.py output

# optional requirements
lap == 0.4.0
mediapipe >= 0.8.11
shapely >= 1.7.1
timm >= 0.6.7
transformers >= 4.21.2